<div class="certificate-content-locked">
    <h1 class="certificate-content-locked__title">
        {{ 'certificate.locked_content.title' | translate }}
    </h1>
    <div class="certificate-content-locked__content">
        <p>
            {{ 'certificate.locked_content.content' | translatePart:0 }}
            <a href="#" class="sh-link sh-link--underlined">
                {{ 'certificate.locked_content.content' | translatePart:1 }}
            </a>
            {{ 'certificate.locked_content.content' | translatePart:2 }}
        </p>
    </div>
</div>
