<div class="modal fade " id="modalTermsAndConditions" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="min-width: 770px !important; width: 770px !important;">
        <div class="modal-content " style="min-width: 770px !important; width: 770px !important;">
            <div id="alertaActivacion" class="alert alert-dismissable info info__item info__item_offset-bot info__item_green info__item_width" style="margin: auto;margin-bottom: -1rem;z-index: 20; display: none;">
                <div class="info__left">
                    <i class="fas fa-check"></i>
                    <span>
                        Terms and conditions
                    </span>
                </div>
            </div>


            <div>
                <div class="join-list__wrap">
                    <h2 class="join-list__title">
                        Terms and conditions
                    </h2>
                </div>
    
                <div class="join-list__descript join-list-descript">
                    <span class="join-list-descript_gray ">
                        1. Paragraph One
                    </span>
                </div>
                <p>“Author’s rights” is a term frequently used in connection with laws about intellectual property. The term is considered as a direct translation of the French term droit d’auteur (also German Urheberrecht). It was first (1777) promoted in France by Pierre-Augustin Caron de Beaumarchais, who had close relations with Benjamin Franklin.</p>
                <p>“Author’s rights” is a term frequently used in connection with laws about intellectual property. The term is considered as a direct translation of the French term droit d’auteur (also German Urheberrecht). “Author’s rights” is a term frequently used in connection with laws about intellectual property. “Author’s rights” is a term frequently used in connection with laws about intellectual property. The term is considered as a direct translation of the French term droit d’auteur (also German Urheberrecht).</p>
                <p>The term is considered as a direct translation of the French term droit d’auteur (also German Urheberrecht). Caron de Beaumarchais, who had close relations with Benjamin Franklin.</p>
    
            </div>
        </div>
        <div class="modal-footer text-end py-3">
            <button disabled class="btn btn-sh-primary">Accept and close</button>
        </div>
    </div>
</div>
