.safelist-title {
    margin-bottom: 6px;
}
.mb6 {
    margin-bottom: 6px;
}
.mb27 {
    margin-bottom: 27px;
}
.organization-holder {
    margin-top: 24px;
    width: 100%;

    .safelist-subtitle {
        font-size: 12px;
        margin-bottom: 6px;
    }
}

.text-line-through {
    text-decoration-line: line-through;
}