<div class="card mb-0 card-offset card-scroll card-spase px-5 py-4">
    <div class="row justify-content-between d-flex align-items-center px-1">
        <div>
            <h2 class="safelist-title">Safelist</h2>
            <p class="text-muted">Monotonectally develop visionary benefits vis-a-vis granular data. Completely transform bleeding-edge</p>
        </div>

        <div class="organization-holder">
            <div class="mb6">
                <span class="font-weight-bold text-uppercase safelist-subtitle">Your organization (safe by default)</span>
            </div>
                
            <div class="row d-flex align-items-center">
                <div class="col-6">                
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="www.cointelecom.com"  value="www.cointelecom.com" disabled>
                    </div>
                </div>
                <div class="col-1">
                    <a href="#">
                        <i class="fas fa-minus-circle fa-2x" style="color: #DADADA;"></i>
                    </a>
                </div>
            </div>
            
        </div>

        <div class="organization-holder">
            <div class="mb6">
                <span class="font-weight-bold text-uppercase safelist-subtitle">Other websites</span>
            </div>
                
            <div class="row d-flex align-items-center mb27">
                <div class="col-6">                
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="www.tokentelecom.com"  value="www.tokentelecom.com" >
                    </div>
                </div>
                <div class="col-1">
                    <a href="#">
                        <i class="fas fa-minus-circle fa-2x" style="color: #E50C54;"></i>
                    </a>
                </div>
            </div>
            <div class="row d-flex align-items-center mb27">
                <div class="col-6">                
                    <div class="form-group mb-0">
                        <input type="text" class="form-control text-line-through" placeholder="www.tokentelecom.com"  value="www.tokentelecom.com" disabled>
                    </div>
                </div>
                <div class="col-1">
                    <a href="#">
                        <img src="assets/images/undo_24px.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="row d-flex align-items-center mb27">
                <div class="col-6">                
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="Enter the URL">
                    </div>
                </div>
                <div class="col-1">
                    <a href="#">
                        <i class="fas fa-minus-circle fa-2x" style="color: #E50C54;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
