.contacts-content {
    padding-top: 16px;
    padding-left: 16px;
    font-family: "SuisseIntl";
    overflow-x: hidden;


    a {
        cursor: pointer;
        color: #666892;
    }
    .mb-21 {
        margin-bottom: 21px;
    }
    .mb-27 {
        margin-bottom: 27px;
    }
    .mb-16 {
        margin-bottom: 16px;
    }
    .mb-8 {
        margin-bottom: 8px;
    }

    .title {
        font-size: 20px; 
        font-style: normal; 
        font-weight: 700; 
        line-height: 24px; 
        letter-spacing: 0px; 
        text-align: left;

        margin-bottom: 16px;
    }
    .title2 {
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 16px;
        letter-spacing: 0.2px;
        text-align: left;
        margin-bottom: 8px;
    }
    .info {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #666892;

        &.link {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    .btn-evidence, input.h, select {
        height: 42px !important;
        min-height: 42px;
        max-height: 42px !important;
    }
    .btn-evidence {
        i{
            margin-right: 9.33px;
        }
    }
    .btn-delete {
        color: #e50c54;
        width: 20px;
        height: 20px;
    }

    .form-check-label {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color:  #0A001E;
    }
}

.copy-alert {
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}