// fonts
$base-letter-spacing: 0;

// colors
$base-font-color: #0d0222;
$base-font-color-invert: #ffffff;
$highlight-blue-color: #3751ff;
$highlight-color: #4700e5;
$highlight-blue-color-1: #5300ee;
$highlight-light-faded-color: #666795;
$highlight-faded-color: #454b73;
$light-blue-color: #e5e6ff;

// sizes
$certificate-max-width: 0;
