<div class="certificate-application-suggestion">
    <div class="certificate-application-suggestion__text d-none d-md-block">
        {{ 'certificate.side.try_app' | translatePart: 0 }}
    </div>
    <div class="certificate-application-suggestion__link d-none d-md-block">
        <u>
            {{ 'certificate.side.try_app' | translatePart: 1 }}
        </u>
    </div>
    <div class="certificate-application-suggestion__link d-md-none">
        <u>
            {{ 'certificate.side.try_app_mobile' | translate }}
        </u>
    </div>
</div>
