@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '@imports/variables';
@import '@components/links';
@import '../certificate.component.mixins';

.certificate-content{
  padding: 50px 95px;
  background: $base-font-color-invert;
  @include media-breakpoint-down(sm) {
    padding: 40px 60px;
  }

  &__content {
    @include font-desktop($font-size: 16px, $line-height: 20px);
    @include font-mobile();
    padding: 10px 0 45px 30px;
    color: $base-font-color;
    white-space: pre-wrap;
    border-bottom: solid 2px $base-font-color;
    @include media-breakpoint-down(sm) {
      padding: 10px 0 30px 20px;
    }
  }
}
