<div class="page" *ngIf="step == 5">
   
    <div *ngIf="accionando == true" class="alert info info__item info__item_green mb-2 w-25 mx-auto">
       <div class="row">

                <i class="info-circle"></i>
                <span>You should receive a email</span>
            </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>

    <div *ngIf="error == true" class="alert info info__item info__item_red mb-2 w-25 mx-auto">
       <div class="row">

                <i class="info-circle"></i>
                <span>The email you are entering is not valid</span>
            </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>

    <div class="page-form">
        <div class="card auth-form auto-form__space mb-0">
            <div class="join-list__back join-list__back_offset">
                <a href="#" (click)="onUpSteps(1)" class="action-wrap__back">
                    <span class="arrow">
                        <svg class="icons icons_arr-back">
                            <use xlink:href="assets/images/icons.svg#arr-back">
                            </use>
                        </svg>
                    </span>
                    <span>
                        {{'msgGeneric.btn_back'| translate}}
                    </span>
                </a>

                <a href="#" class="join-list__logo join-list__logo_low">
                    <img src="assets/images/sert/logo.svg" alt="">
                </a>
            </div>

            <div class="join-list__descript join-list-descript">
                <span *ngIf="!accionando && !error" class="join-list-descript_gray ">
                    <!-- You can reset password using your associated email  -->
                    {{ 'auth.you_can_reset_password_using' | translate }}
                </span>
                <span *ngIf="accionando && !error" class="join-list-descript_gray ">
                    We sent you an email with instructions. <br> Didn’t get it? We can resend it
                </span>
                <span *ngIf="error" class="join-list-descript_gray ">
                    Hmm, we don't recognize this email. <br> Please double check it
                </span>
            </div>

            <div class="form-wrap join-form">

                <div class="form-group">
                    <label class="label-text">{{ 'auth.email' | translate }}</label>
                    <input required [(ngModel)]="correoUsuario" type="mail" 
                        (blur)="comprobarUsuario()" class="form-control label-toggle" 
                        placeholder="{{ 'auth.email_address' | translate }}" minlength="7" maxlength="50">
                </div>
                <div *ngIf="isValidInputUserRecover" class="alert alert-dismissable info info__item info__item_offset-bot info__item_red info__item_width" style="min-width: calc(390px - 2.21429rem * 2) !important; max-width: calc(390px - 2.21429rem * 2) !important">
                    {{ 'msgGeneric.email_invalid' | translate }}
                </div>

                <button type="submit" class="btn btn-primary btn-block" (click)="envairFormulario()">
                    {{ 'auth.reset_password' | translate }}
                </button>
            </div>

            <div class="auto-form__list auto-form__list_offset">
                <div class="help-wrap">
                    {{ 'auth.dont_have_account' | translate }}
                    <a href="#" data-toggle="modal" data-target="#modalSignUp" (click)="onUpSteps(2)" class="fw-fw-semi-bold">
                        <!-- Sign in -->
                        {{ 'auth.sign_in' | translate }}
                    </a> or <a href="#" data-toggle="modal" data-target="#modalSignUp" (click)="onUpSteps(3)" class="fw-fw-semi-bold">
                        <!-- Sign up -->
                        {{ 'auth.sign_up' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page" id="modalDeForgotPassowrd" style="display: none">
    <div class="page-form">
        <div class="card auth-form auto-form__space mb-0">
            <div class="join-list__back join-list__back_offset">
                <a href="#" class="join-list__logo join-list__logo_low">
                    <img src="assets/images/sert/logo.svg" alt="">
                </a>
            </div>

            <div class="join-list__descript join-list-descript">
                <span class="join-list-descript_gray ">
                    Email confirmed. Now set your new password
                </span>
            </div>

            <div class="form-wrap join-form">
                <div class="form-group">
                    <label class="label-text">Email</label>
                    <input required (blur)="comprobarUsuario()" [(ngModel)]="formEmail" id="email" 
                        type="email" class="form-control label-toggle" 
                        placeholder="Email address" minlength="7" maxlength="50">
                </div>
                <div *ngIf="isValidInputUserRecover" class="alert alert-dismissable info info__item info__item_offset-bot info__item_red info__item_width" style="min-width: calc(390px - 2.21429rem * 2) !important; max-width: calc(390px - 2.21429rem * 2) !important">
                    {{ 'auth.email_invalid' | translate }}
                </div>

                <div class="form-group with-suffix-icon">
                    <label class="label-text">Create_and_repeat_password</label>
                    <label class="label-text label-text__reminder">
                        8 latin characters with numbers & symbols
                    </label>
                    <div class="input-icons">
                        <input (blur)="comprobarClave()" required [(ngModel)]="formPassword" 
                            id="password" [type]="fieldTextType1 ? 'text' : 'password'" 
                            class="form-control form-control-border-top label-toggle" 
                            placeholder="your password">
                        <a href="#" class="suffix-icon" (click)="toggleFieldTextType1()">
                            <img *ngIf="!fieldTextType1" src="assets/images/eye.svg" alt="">
                            <img *ngIf="fieldTextType1" src="assets/images/eye-open.svg" alt="">
                        </a>

                        <a href="#" class="icon-backspase" (click)="borrarCampo()">
                            <svg class="icons icons_backspase-r">
                                <use xlink:href="assets/images/icons.svg#backspase-r">
                                </use>
                            </svg>
                        </a>
                    </div>
                    <input (blur)="comprobarRepetirClave()" required 
                        [(ngModel)]="formRepeatPassword" id="repeat_password" 
                        [type]="fieldTextType1 ? 'text' : 'password'" 
                        class="form-control form-control-border-bottom label-toggle" 
                        placeholder="your_password"
                        minlength="7" maxlength="12">
                </div>

                <div *ngIf="isValidInputPasswordRecover" class="alert alert-dismissable info info__item info__item_offset-bot info__item_red info__item_width" style="min-width: calc(390px - 2.21429rem * 2) !important; max-width: calc(390px - 2.21429rem * 2) !important">
                    maxlenght invalid
                </div>

                <div *ngIf="isValidInputPasswordConfirmRecover && !isValidInputPasswordRecover" class="alert alert-dismissable info info__item info__item_offset-bot info__item_red info__item_width" style="min-width: calc(390px - 2.21429rem * 2) !important; max-width: calc(390px - 2.21429rem * 2) !important">
                    Password doesnt match
                </div>

                <button type="submit" (click)="cambiarClave()" class="btn btn-primary btn-block" 
                    [disabled]="disabled">Change password</button>
                <button type="submit" class="btn btn-danger">Use Google ID instead</button>
            </div>

            <div class="auto-form__list auto-form__list_offset">
                <div class="help-wrap">
                    Want to use another account?
                    <a href="#" data-toggle="modal" data-target="#modalSignUp" (click)="onUpSteps(2)" class="fw-fw-semi-bold">
                        Sign in
                    </a> or <a href="#" data-toggle="modal" data-target="#modalSignUp" (click)="onUpSteps(3)" class="fw-fw-semi-bold">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>