<main class="app-main">
    <div class="main-wrap">
        <div class="art toggler">

            <div class="art__row">
                <div class="art__left-side">
                    <a class="draft-list-popover">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px"
                             height="18px">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path style="fill:#9FA2B4"
                                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92c-.5.51-.86.97-1.04 1.69-.08.32-.13.68-.13 1.14h-2v-.5c0-.46.08-.9.22-1.31.2-.58.53-1.1.95-1.52l1.24-1.26c.46-.44.68-1.1.55-1.8-.13-.72-.69-1.33-1.39-1.53-1.11-.31-2.14.32-2.47 1.27-.12.37-.43.65-.82.65h-.3C8.4 9 8 8.44 8.16 7.88c.43-1.47 1.68-2.59 3.23-2.83 1.52-.24 2.97.55 3.87 1.8 1.18 1.63.83 3.38-.19 4.4z"/>
                        </svg>
                        <div class="draft-list-content">
                            <div class="link-masked__content">
                                <p>Draft’s aren’t published or tracked for copyright violations</p>
                            </div>
                        </div>
                    </a>

                    <h2 class="art__title">
                        All drafts
                    </h2>


                </div>
            </div>
            <div class="art__buttons ">
                <div class="art__select">
                    <div class="dropdown-group dropdown-group-blue dropdown-group-middle w-100" role="group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><span>translate.draft.lbl_title5</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-wide">
                            <li class="menu-item">
                                <a class="item-link">translate.draft.lbl_title5</a>
                            </li>
                            <li class="menu-item">
                                <a class="item-link">draft.btn_saved8</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="art__buttons_wrap">
                    <div class="art__buttons_left">
                        <sh-filter-tab
                                [value]="DraftType.Working"
                                [active]="selectedType === DraftType.Working"
                                (selected)="selectType($event)"
                        >
                            Working on
                            ({{totalRegistros}})
                        </sh-filter-tab>
                        <sh-filter-tab
                                [value]="DraftType.Deleted"
                                [active]="selectedType === DraftType.Deleted"
                                (selected)="selectType($event)"
                        >
                            Deleted
                        </sh-filter-tab>
                    </div>
                    <div class="art__buttons_right">
                        <a (click)="activeInfo()" class="info-wrap toggler-trigger">
                            <svg class="icons  icons_open-qest">
                                <use xlink:href="assets/images/icons.svg#open-qest">
                                </use>
                            </svg>
                            <div class="arrow"></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- regresar alert luego -->
            <!-- <alert></alert> -->


            <div class="toggler__content">
                <div class="art__content">
                    <div class="info info__item info__item_width info__item_blue">
                        <div class="info__left">
                            <i class="info-circle"></i>
                            <span *ngIf="selectedType === DraftType.Working">Your work in progress</span>
                            <span *ngIf="selectedType === DraftType.Deleted">Deleted documents</span>

                            <div class="info__descript">
                                <p *ngIf="selectedType === DraftType.Working">You can leave documents as drafts for as
                                    long as you wish and
                                    protect them at anytime </p>
                                <p *ngIf="selectedType === DraftType.Deleted">We keep deleted drafts here for 30 days,
                                    then delete them
                                    forever </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <ng-container [ngSwitch]="selectedType">
                <app-draft-list-working
                        *ngSwitchCase="DraftType.Working"
                        (totalRegistros)="updateCountRow($event)"
                        (listdata)="callDeleteRegistros()"
                ></app-draft-list-working>
                <app-draft-list-delete
                        *ngSwitchCase="DraftType.Deleted"
                        (listdataD)="callListarRegistros()"
                ></app-draft-list-delete>
            </ng-container>
        </div>

    </div>
</main>
